[Desktop Entry]
Encoding=UTF-8
Name=Kikkanji
Comment=A Plasma Applet that shows Japanese Kanji
Type=Service
ServiceTypes=Plasma/Applet
Icon=/kanji.svg
X-Plasma-API=ruby-script
X-Plasma-MainScript=code/kikkanji.rb
## X-KDE-Library=plasma_applet_kikkanji
X-KDE-PluginInfo-Author=Mathieu Jobin
X-KDE-PluginInfo-Email=somekool@gmail.com
X-KDE-PluginInfo-Name=kikkanji
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://somekool.net/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=sqlite3, activerecord
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
